# This file provides a very basic CV annotation distinguishing only vowels,
# consonants and the reduced vowel schwa.
[DEFAULT]
features = cons,full

[V]
form=V
after=
before=
is=full
is_not=cons

[C]
form=C
after=
before=
is=cons
is_not=

[e]
form=e
after=
before=
is=
is_not=full,cons